Repository grigaut/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

      - id: no-commit-to-branch
        name: "don't commit to branch"
        entry: no-commit-to-branch
        language: python
        pass_filenames: false
        always_run: true

      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system

      - id: detect-private-key
        name: detect private key
        description: detects the presence of private keys.
        entry: detect-private-key
        language: python
        types: [text]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true

      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$

Add informative messages
  {{cookiecutter.package_name}}/Makefile
Due: none

Add informative messages (#2)
  {{cookiecutter.package_name}}/Makefile
Due: none

Add main command to README.md
  README.md
Due: none

Add git generation and nbstripout
  cookiecutter.json
  {{cookiecutter.package_name}}/Makefile
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Correct typos
  {{cookiecutter.package_name}}/Makefile
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Include Notebooks and Scripts Folders
  cookiecutter.json
  hooks/post_gen_project.py
  {{cookiecutter.package_name}}/Makefile
  {{cookiecutter.package_name}}/notebooks/notebook.ipynb
  {{cookiecutter.package_name}}/pyproject.toml
  {{cookiecutter.package_name}}/scripts/script.py
Due: black, poetry-check

Add end of generation messages
  hooks/post_gen_project.py
  pyproject.toml
Due: black, poetry-check

Remove nbstripout if local
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Improve newlines
  {{cookiecutter.package_name}}/Makefile
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Small improvements
  cookiecutter.json
  hooks/post_gen_project.py
  poetry.lock
  pyproject.toml
  {{cookiecutter.package_name}}/Makefile
  {{cookiecutter.package_name}}/mkdocs.yaml
  {{cookiecutter.package_name}}/pyproject.toml
Due: black, poetry-check

Small improvements
  hooks/post_gen_project.py
Due: black

Add Documentation to script
  {{cookiecutter.package_name}}/scripts/script.py
Due: black

Improve black hook
  {{cookiecutter.package_name}}/.pre-commit-config.yaml
  {{cookiecutter.package_name}}/notebooks/notebook.ipynb
Due: none

Improve hooks
  {{cookiecutter.package_name}}/.pre-commit-config.yaml
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Correct poetry export hook and target
  {{cookiecutter.package_name}}/.pre-commit-config.yaml
  {{cookiecutter.package_name}}/Makefile
Due: none

Add notebook exclusion for ruff
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Main (#3)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Enable nbstripout
  {{cookiecutter.package_name}}/Makefile
Due: none

Enable nbstripout (#4)
  {{cookiecutter.package_name}}/Makefile
Due: none

Use extend-exclude instead of exclude for ruff
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Use extend-exclude instead of exclude for ruff (#5)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Add icecream to dev dependencies
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Add icecream to dev dependencies (#6)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Add icecream to dev dependencies (#7)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Remove Mypy dependency
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Remove Mypy dependency (#8)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Switch Icecream to main dependencies
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Switch Icecream to main dependencies (#9)
  {{cookiecutter.package_name}}/pyproject.toml
Due: poetry-check

Set Absolute Paths
  {{cookiecutter.package_name}}/Makefile
Due: none

Set Absolute Paths (#10)
  {{cookiecutter.package_name}}/Makefile
Due: none

Improve Makefile
  {{cookiecutter.package_name}}/Makefile
Due: none

Change in poetry.lock
  poetry.lock
Due: none

Improve-makefile (#11)
  poetry.lock
  {{cookiecutter.package_name}}/Makefile
Due: none

Correct poetry.lock generation
  {{cookiecutter.package_name}}/Makefile
Due: none

Add-poetry-lock (#12)
  {{cookiecutter.package_name}}/Makefile
Due: none

Correct Install Rule in Makefile
  {{cookiecutter.package_name}}/Makefile
Due: none

Correct Install Rule in Makefile (#13)
  {{cookiecutter.package_name}}/Makefile
Due: none

Correct Rule Names in .PHONY
  {{cookiecutter.package_name}}/Makefile
Due: none
